<div class="container">
  <div class="row">
    <p> </p>
    <h4>Welcome to The Doctors!</h4>
    <p> </p>
    <form action="/list" method="post">
      <p>I am a Doctor, so let's look at all my patients</p>
      <p> </p>
      <button type="submit" class="btn btn-danger">show patients</button>
      <p> </p>
    </form>
    <form action="/staff" method="post">
      <p>I am an Admin, so, let's administrate some things</p>
      <p> </p>
      <button type="submit" class="btn btn-warning">administer!</button>
      <p> </p>
    </form>
    <form action="/patient" method="post">
      <p>I am a patient, show me things</p>
      <p> </p>
      <button type="submit" class="btn btn-info">get confused</button>
      <p> </p>
    </form>
  </div>
  <div class="row">
  </div>
</div>
