<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Doctor Office</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="<%= url("/styles.css")%>" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p> </p>
        </div>
        <div class="col-md-6">
          <h2>Something Something, say 'ah'.</h2>
          <p>@nbsp;</p>
          <%= yield %>
        </div>
        <div class="col-md-3">
          <p> </p>
        </div>
      </div>
    </div>
  </body>
</html>
