<div class="container">
  <div class="row">
    <p>&nbsp;</p>
    <h4>How many patients each doctor has:</h4>
    <p>&nbsp;</p>
  </div>
  <div class="row">
    <% @doctor_list.each do |key,val| %>
    <p><%= key %> , <%= val %></p>
    <p>&nbsp;</p>
    <% end %>
  </div><div class="row">
    <p>&nbsp;</p>
    <form class="form-inline" method="get" action="/">
      <button type="submit" class="btn btn-danger" name="clear_btn" value="clear">back to main</button>
    </form>
  </div>
</div>
